/* HEADER ACCUEIL */
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    list-style-type: none;   
    text-decoration: none;
    color: rgb(194, 78, 0);
}
#h1{
    display: flex;
    justify-content: center;
    /* background-color: rgb(58, 100, 100); */
    height: 10%;
    padding-top: 1%;
    font-size: 350%;
}
#header_la{
    background-color: rgb(37, 37, 37);
}
#header_nav{
    /* background-color: rgb(51, 51, 126); */
    height: 7%;
    padding-top: 2%;
}
#header_ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 135%;
}
.header_a{
    /* padding: 7%; */
    border-radius: 20%;
    background-color: rgb(228, 228, 228);
    font-weight: bold;
}

/* MAIN ACCUEIL */

#main_la{
height: 80%;
background-image: url(https://image.freepik.com/vecteurs-libre/fond-abstrait-blanc_23-2148812993.jpg);
background-repeat: no-repeat;
background-size: 100%;
/* background-color: rgb(228, 228, 228); */
}
/* FOOTER ACCUEIL */
#footer_la{
    background-color: rgb(37, 37, 37);
    height: 15%;
    padding-top: 1%;
    padding: 2%;
}
#footer_ul{
    padding-left: 20%;
    font-size: 115%;
}



/* PAGE INSCRIPTION  */
    /* FORM */
#deplacement_form{
    display: flex;
    justify-content: center;
    /* width: 50%; */
    padding-top: 3%;
    padding-bottom: 3%;
    
}
#form_inscription{
    background-color: rgb(37, 37, 37);
    padding: 3%;
    border-radius: 5%;
    font-size: 150%;
    text-align: center;
}
.box-input{
    padding: 1%;
    margin: 5px;
    font-size: 70%;
}
.box_button{
    background-color: rgb(77, 77, 77);
    border-radius: 20%;
    font-size: 120%;
    padding: 1%;
}
.color_link{
    color: rgb(230, 138, 0);
}
#message_form{
    text-align: center;
    background-color: aqua;
}